ion-button {
    margin-top: 15px;
    --background: var(--ion-color-button);
    height: 45px;
    --border-radius: 19px;

    ion-icon {
        font-size: 40px;
        position: absolute;
        right: 0;
    }
}  