.answerField1 {
  --background: var(--field1, var(--ion-color-button));
}

.answerField2 {
  --background: var(--field2, var(--ion-color-button));
}

.answerField3 {
  --background: var(--field3, var(--ion-color-button));
}

.answerField4 {
  --background: var(--field4, var(--ion-color-button));
}

.answer {
  ion-checkbox {
    right: 15px;
    --background: white;
    --border-radius: 30px;
    --border-width: 0;
    --size: 22px;
  }
}

.question {
  ion-list {
    background: inherit;
  }
}

.checkbutton {
  --border-radius: var(--button-radius);
}

ion-footer {
  background: #3a3a3a !important;
}

ion-content {
  --background: var(--ion-background-color);
}
