<app-custom-header></app-custom-header>

<ion-content>
  <div id="placeholder" *ngFor="let url of image">
    <img [src]="url" alt="Bild zur frage">
  </div>

  <div class="ion-padding">

    <ion-item class="question">
      <ion-list>
        <h5 class="ion-text-wrap"><strong>Frage {{currentQuestion}}/{{questionsnumber}}</strong></h5>
        <hr>
        <p>{{question}}</p>
      </ion-list>
    </ion-item>

    <ion-item class="answerField1 answer ion-margin-top" [style.pointerEvents]="answerDisable">
      <ion-label color="light" class="ion-text-wrap">{{answerArray[0]}}</ion-label>
      <ion-checkbox [(ngModel)]="answerBool[0]"></ion-checkbox>
    </ion-item>

    <ion-item class="answerField2 answer ion-margin-top" [style.pointerEvents]="answerDisable">
      <ion-label color="light" class="ion-text-wrap">{{answerArray[1]}}</ion-label>
      <ion-checkbox [(ngModel)]="answerBool[1]"></ion-checkbox>
    </ion-item>

    <ion-item class="answerField3 answer ion-margin-top" [style.pointerEvents]="answerDisable">
      <ion-label color="light" class="ion-text-wrap">{{answerArray[2]}}</ion-label>
      <ion-checkbox [(ngModel)]="answerBool[2]"></ion-checkbox>
    </ion-item>

    <ion-item class="answerField4 answer ion-margin-top" [style.pointerEvents]="answerDisable">
      <ion-label color="light" class="ion-text-wrap">{{answerArray[3]}}</ion-label>
      <ion-checkbox [(ngModel)]="answerBool[3]"></ion-checkbox>
    </ion-item>

  </div>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-button class="checkbutton" (click)="navigateHome()">Home</ion-button>
  <ion-button class="checkbutton ion-float-right" (click)="check()">{{checkButtonText}}</ion-button>
</ion-footer>
