<app-custom-header></app-custom-header>

<ion-content>
  <div id="placeholder" *ngFor="let url of image">
    <img [src]="url" alt="Bild zur frage">
  </div>
  
  <div class="ion-padding">
  <ion-card id="frageCard">
    <ion-card-header>
      <ion-card-title>Frage {{currentQuestion}}/{{questionsnumber}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text class="frage"> {{question}} </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card class="answerField1 answers" (click) = checkbox(0)>
    <ion-label>{{answer1}}</ion-label>

    <ion-button class="info">
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>

    <ion-checkbox [(ngModel)]="answerBool[0]" disabled="true"></ion-checkbox>
  </ion-card>
  <ion-card class="answerField2 answers" (click) = checkbox(1)>
    <ion-label>{{answer2}}</ion-label>
    <ion-checkbox [(ngModel)]="answerBool[1]" disabled="true"></ion-checkbox>
  </ion-card>
  <ion-card class="answerField3 answers" (click) = checkbox(2)>
    <ion-label>{{answer3}}</ion-label>
    <ion-checkbox [(ngModel)]="answerBool[2]" disabled="true"></ion-checkbox>
  </ion-card>
  <ion-card class="answerField4 answers" (click) = checkbox(3)>
    <ion-label>{{answer4}}</ion-label>
    <ion-checkbox [(ngModel)]="answerBool[3]" disabled="true"></ion-checkbox>
  </ion-card>

  <div id="check">
    <ion-button color="primary" (click)="check()">{{checkButtonText}}</ion-button>
  </div>
</div>
</ion-content>

<app-custom-footer></app-custom-footer>