.answerField1 {
  --background: var(--field1, var(--ion-color-button));
}

.answerField2 {
  --background: var(--field2, var(--ion-color-button));
}

.answerField3 {
  --background: var(--field3, var(--ion-color-button));
}

.answerField4 {
  --background: var(--field4, var(--ion-color-button));
}

.answer {
  --border-radius: var(--button-radius);

  ion-checkbox {
    right: 15px;
    --background: white;
    --border-radius: 30px;
    --border-width: 0;
    --size: 22px;
  }
}

.question {
  color: white;
  --background: var(--ion-color-button);
  --border-radius: var(--button-radius);

  ion-list {
    background: inherit;
  }
}

.checkbutton{
  --border-radius: var(--button-radius);
}

.info {
  --background: transparent;
  --box-shadow: none;
  position: absolute;
  width: 100%;
  visibility: var(--info1, hidden);

  ion-icon {
    font-size: 30px;
  }
}

.modal .popover-content {
  --background: #222;
}
