
.answerField1 {
    --background: var(--field1, var(--ion-color-button));
}

.answerField2 {
    --background: var(--field2, var(--ion-color-button));
}

.answerField3 {
    --background: var(--field3, var(--ion-color-button));
}

.answerField4 {
    --background: var(--field4, var(--ion-color-button));
}

#placeholder {
    height: auto;
}

.answers {
    height: 40px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    margin-top: 10px;

    ion-checkbox {
        position: absolute;
        right: 15px;
        --background: white;
        --border-radius: 15px;
        --border-width: 0;
        --size: 22px;
        opacity: 1;
    }

    ion-label {
        position: absolute;
        left: 15px;
        color: white;
        font-size: 1rem;
    }
}


#frageCard {

    color: white;
    --background: var(--ion-color-button);
    border-radius: 30px;
    margin-bottom: 15px;

    ion-text {
        font-size: 1.1em;
    }

    ion-card-title {
        color: white;
    }
}

.ion-padding {
    padding-bottom: 0;
}

#check {
    margin-left: 10px;
    margin-top: 10px;

    ion-button {
        --border-radius: 10px;
    }
}

.info {
    --background: transparent;
    --box-shadow: none;
    position: absolute;
    width: 100%;
    visibility: var(--info1, hidden);

    ion-icon {
        font-size: 30px;
    }
    
}

.modal .popover-content {
    --background: #222;
  }