<app-custom-header></app-custom-header>

<ion-content>
  <div id="placeholder" *ngFor="let url of image">
    <img [src]="url" alt="Bild zur frage">
  </div>

  <div class="ion-padding">

    <ion-item class="question">
      <ion-list>
        <h5 class="ion-text-wrap"><strong>Frage {{currentQuestion}}/{{questionsnumber}}</strong></h5>
        <hr>
        <p>{{question}}</p>
      </ion-list>
    </ion-item>

    <!-- Card with infobutton: -->

    <!-- <ion-card class="answerField1 answers" (click)=checkbox(0)>
      <ion-label>{{answer1}}</ion-label>

      <ion-button class="info">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>

      <ion-checkbox [(ngModel)]="answerBool[0]" disabled="true"></ion-checkbox>
    </ion-card> -->

    <ion-item class="answerField1 answer ion-margin-top">
      <ion-label color="light" class="ion-text-wrap">{{answer1}}</ion-label>
      <ion-checkbox [(ngModel)]="answerBool[0]"></ion-checkbox>
    </ion-item>

    <ion-item class="answerField2 answer ion-margin-top">
      <ion-label color="light" class="ion-text-wrap">{{answer2}}</ion-label>
      <ion-checkbox [(ngModel)]="answerBool[1]"></ion-checkbox>
    </ion-item>

    <ion-item class="answerField3 answer ion-margin-top">
      <ion-label color="light" class="ion-text-wrap">{{answer3}}</ion-label>
      <ion-checkbox [(ngModel)]="answerBool[2]"></ion-checkbox>
    </ion-item>

    <ion-item class="answerField4 answer ion-margin-top">
      <ion-label color="light" class="ion-text-wrap">{{answer4}}</ion-label>
      <ion-checkbox [(ngModel)]="answerBool[3]"></ion-checkbox>
    </ion-item>


  </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button class="checkbutton ion-margin-top" (click)="navigateHome()">home</ion-button>
    <ion-button class="checkbutton ion-margin-top right" (click)="check()">{{checkButtonText}}</ion-button>
</ion-footer>
