<ion-header>
  <ion-toolbar>
    <ion-title>A-Schein</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text>
    {{question}}
  </ion-text>

  <ion-item>
    <ion-label>{{answer1}}</ion-label>
    <ion-checkbox color="primary" slot="start" [(ngModel)] = answerBool[0]></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>{{answer2}}</ion-label>
    <ion-checkbox color="primary" slot="start" [(ngModel)] = answerBool[1]></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>{{answer3}}</ion-label>
    <ion-checkbox color="primary" slot="start" [(ngModel)] = answerBool[2]></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>{{answer4}}</ion-label>
    <ion-checkbox color="primary" slot="start" [(ngModel)] = answerBool[3]></ion-checkbox>
  </ion-item>

  <div id="container" class="ion-padding">
    <ion-button color="primary" (click) = "check()">check</ion-button>
  </div>
</ion-content>
