.answerField1 {
    --background: var(--field1, #fff);
}

.answerField2 {
    --background: var(--field2, #fff);
}

.answerField3 {
    --background: var(--field3, #fff);
}

.answerField4 {
    --background: var(--field4, #fff);
}

ion-header {
    --ion-background-color: #e76010;
  }