<ion-header>
  <ion-toolbar>
    <ion-title>A-Schein</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text>
    {{question}}
  </ion-text>

  <ion-item>
    <ion-label>{{answer1}}</ion-label>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>{{answer2}}</ion-label>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>{{answer3}}</ion-label>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>{{answer4}}</ion-label>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
  </ion-item>
</ion-content>
