<app-custom-header></app-custom-header>

<ion-content class="ion-padding">

  <ion-item class="ion-margin-top" (click)="navigateHome()">
    <ion-list>
      <h5 class="ion-text-wrap"><strong>{{scheinName}}</strong></h5>
      <hr>
      <p>Lerne die Basics</p>
    </ion-list>
  </ion-item>

  <ion-item class="ion-margin-top" (click)="navigate('questions/')">
    <ion-label color="light" class="ion-text-wrap">Alle Fragen lernen</ion-label>
    <ion-icon color="light" name="play"></ion-icon>
  </ion-item>

  <ion-item class="ion-margin-top" (click)="navigate('tabs/home/themen/')">
    <ion-label color="light" class="ion-text-wrap">Einzelne Themen lernen</ion-label>
    <ion-icon color="light" name="play"></ion-icon>
  </ion-item>

  <ion-item class="ion-margin-top" (click)="navigate('questions/')">
    <ion-label color="light" class="ion-text-wrap">Püfungssimulation</ion-label>
    <ion-icon color="light" name="play"></ion-icon>
  </ion-item>

</ion-content>
