<app-custom-header></app-custom-header>

<ion-content>
  <div id="container">
    <ion-button id="search">
      <ion-icon name="search"></ion-icon>
      <strong>SUCHE</strong>
    </ion-button>

    <div class="ion-padding">

      <ion-item class="ion-margin-top" *ngFor="let course of courses" (click)="navigate(course)">
        <ion-list>
          <h5 class="ion-text-wrap title"><strong>{{course}}</strong></h5>
          <hr>
          <p>Lerne die Basics</p>

          <div class="progress-holder">
            <div class="left-block"></div>
            <div class="right-block" id="right-block"></div>
             <div class="mask"><span>{{this.percent}}</span></div>
           </div>

        </ion-list>
      </ion-item>

    </div>
  </div>
</ion-content>
<app-custom-footer></app-custom-footer>
