<app-custom-header></app-custom-header>

<ion-content class="ion-padding">
  <ion-item class="ion-margin-top" *ngFor="let course of courses; let i = index" (click)="navigate(i)">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-list>
            <h5 class="ion-text-wrap"><strong>{{course}}</strong></h5>
            <hr>
            <p>{{quotes[i]}}</p>
          </ion-list>
        </ion-col>
        <ion-col size="auto" class="ion-padding-top ion-padding-start ion-padding-bottom">
          <div class="progress-holder">
            <div class="left-block"></div>
            <div class="right-block" [ngStyle]="applyStyles(i)"></div>
            <div class="mask">
              <p>{{this.progressPercent[i]}}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
