p {
  font: var(--font-size);
}

ion-button {
  margin-top: 15px;
  --background: var(--ion-color-button);
  height: 45px;
  --border-radius: var(--button-radius);
  --box-shadow: var(--shadow);

  ion-icon {
    font-size: 40px;
    position: absolute;
    right: 0;
  }
}
