<app-custom-header></app-custom-header>

<ion-content>
  <div class="top" (click)="navigate(0)">
    <img src="../../../assets/img/knots/VCBC.jpg" alt="">
    <div class="thumbnail_text">
      <h5>{{knots[0]?.name}}</h5>
      <hr>
      <p>kurze Erklärung</p>
    </div>
  </div>

  <div class="bottom">
    <div class="bottom_left">
      <div class="bottom_left_thumbnail" *ngFor="let i of leftPictures;" (click)="navigate(i)">
        <img [src]="knots[i].thumbnail" alt="">
        <div class="thumbnail_text">
          <h5>{{knots[i].name}}</h5>
          <hr>
          <p>kurze Erklärung</p>
        </div>
      </div>
    </div>
    <div class="bottom_right">
      <div class="bottom_right_thumbnail" *ngFor="let i of rightPictures;" (click)="navigate(i)">
        <img *ngIf="i === 1; else elseBlock" class="firstThumbnail" [src]="knots[i].thumbnail" alt="">
        <ng-template #elseBlock><img [src]="knots[i].thumbnail" alt=""></ng-template>
        <div class="thumbnail_text">
          <h5>{{knots[i].name}}</h5>
          <hr>
          <p>kurze Erklärung</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
