<ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule" (click) = 'navigate("home")'>
        <ion-icon name="book"></ion-icon>
        <ion-label>Theorie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers" (click) = 'navigate("knots")'>
        <ion-icon name="infinite-outline"></ion-icon>
        <ion-label>Knoten</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
        <ion-icon name="search"></ion-icon>
        <ion-label>Suche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" (click) = 'navigate("videos")'>
        <ion-icon name="play-circle"></ion-icon>
        <ion-label>Videos</ion-label>
    </ion-tab-button>
</ion-tab-bar>