ion-content {
  /* --background: url(../../../assets/img/background/bg-knots.jpg) no-repeat center/cover
  fixed; */
  --background: var(--ion-background-color);
}

.description-holder{
  padding: 20px;
  color: white;
}

.description-grid{
  background-color: #1c1c1c;
  border-radius: 15px;
  padding: 15px;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 60px;
  width: 60px;
  color: white;
}

.video {
  position: absolute;
  top: 0;
  z-index: 1001;
  height: 100%;
  width: 100%;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
}

h4{
  margin-bottom: 5px;
}

p{
  margin-top: 5px;
  margin-bottom: 0;
}
