.slide-item{
  height: 100%;
  color: white;
}

ion-slides{
  background: var(--ion-color-button);
}


.icon {
  top: 200px;
  left: 0;
}

.arrow {
  position: absolute;
  height: 100px;
  width: 100px;
  bottom: 50px;
}