.header-item {
  height: 120px;
  --border-radius: var(--button-radius);
  --background: var(--ion-color-button);
  --box-shadow: var(--shadow);

  #überschrift p {
    top: 10px;
    left: 0;
    position: absolute;
    border-bottom: 1px solid white;
    width: 50vw;
    text-align: left;
    padding-bottom: 3px;
  }

  #subtitle {
    position: absolute;
    left: 0;
    margin-top: 30px;
  }
}

.button-topic {
  --border-radius: var(--button-radius);
  --background: var(--ion-color-button);
  -webkit-border-radius: var(--button-radius);
  -moz-border-radius: var(--button-radius);

  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);

}
