<app-custom-header></app-custom-header>

<ion-content>
  <div class="ion-padding">
    <ion-button id="schein" expand="block" (click)="navigateHome()">
      <div id="überschrift">
        <p>{{licenseName}}</p>
      </div>
      <div id="subtitle">
        <p>Lerne die Basics</p>
      </div>
    </ion-button>
  </div>

  <div id="container" class="ion-padding">
    <ion-button expand="block" *ngFor="let topicName of topicNames; let i = index" (click)="navigate(topicName)" id="themes">
      <p>{{topicName}} ({{numberOfQuestionsPerTopic[i]}})</p>
      <ion-icon name="play"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<app-custom-footer></app-custom-footer>
