<app-custom-header></app-custom-header>

<ion-content>
  <div id="topVideo">
    <img src="../../../../assets/videos/segeln.jpg" alt="">
    <ion-button>
      <ion-icon name="play-circle"></ion-icon>
    </ion-button>
  </div>
  <div id="bottomVideos">
    <div id="left">
      <img src="../../../../assets/videos/segeln.jpg" alt="">
    </div>
    <div id="right">
      <img src="../../../../assets/videos/segeln.jpg" alt="">
    </div>
  </div>
</ion-content>

<app-custom-footer></app-custom-footer>