* {
    --ion-background-color: grey !important;
}

#topVideo {
    position: relative;
    max-height: 40vh;
    z-index: 0;

    img {
        max-height: 40vh;
        width: 100vw;
        object-fit: cover;
    }

    ion-button {
        height: auto;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        --background: trasparent;
        --box-shadow: none;
        
        ion-icon {
            font-size: 80px;
        }
    }
}

#bottomVideos {
    position: relative;

    #left {
        position: absolute;
        width: 50vw;
        left: 0;
        img {
            padding: 15px 7px 15px 15px;
        }
    }

    #right {
        position: absolute;
        width: 50vw;
        right: 0;
        img {
            padding: 15px 15px 15px 7px;
        }
    }
}
